.box {
    width: 70px;
    height: 70px;
    border: 5px solid white;
}
.letter {
    box-sizing: content-box;
    font-size: 70px;
    color: white;
    margin: 10%
}

.thecontainer{
    height:95vh;
    width:98vw;
}
.grid-container {
    padding-top:4vh;
    margin-left: 25%;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}
.grid-container-answer {
    display: flex;
    margin-top: 20%;
    z-index: 10;
    margin-left: 35%;
}

.question-btn {
    border-radius: 25px;
    background-color: #7967E7;
    width: 150px;
    height: 40px;
    margin-left: 33%;
}

.quit-btn {
    border-radius: 25px;
    background-color: #E33546;
    width: 90px;
    height: 40px;
    margin-top: 0%;
    margin-left: 31%;
}
.toolbar {
    display: flex;
    justify-content: space-evenly;
}
.text {
    margin-top: -0.2%;
    color: whitesmoke;
}