.grid-container {
    margin-top: 2%;
    margin-left: 25%;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}
.grid-container-answer {
    display: flex;
    margin-top: 20%;
    z-index: 10;
    margin-left: 35%;
}

.question-btn {
    border-radius: 25px;
    background-color: #7967E7;
    width: 150px;
    height: 40px;
    margin-left: 33%;
}

.quit-btn {
    border-radius: 25px;
    background-color: #E33546;
    width: 90px;
    height: 40px;
    margin-top: 0%;
    margin-left: 31%;
}
.toolbar {
    display: flex;
    justify-content: space-evenly;
}
.text {
    margin-top: -0.2%;
    color: whitesmoke;
}

.form {

    width:100%;
}

.form-control {
    margin-left: 33%;
    width: 500px;
}

.btn {
    margin-left: 50%;
}