:root {
    --green: #35B5AC;
    --purple: #250855;
    --offwhite: #e2dacb;
}

.container{
    display:grid;
    grid-template-rows: 25% 10% 30% 15% 20%;
    height: calc(var(--vh, 1vh) * 97);
    width: calc(var(--vw, 1vw) * 98) ;
}

.waitLogo{
    display:flex;
    justify-content:center;
    height:100%;
}
.logo{
    height:200%;
}
.usersContainer{
    height:80%;
    width:80vw;
    color:white;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}

.loader{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
}
.loading{
    height:25vh;
}

.textBox{
    display:flex;
    flex-direction: column;
    width:60%;
    height:100%;
    font-size:0.9rem;
    font-weight: 600;
    align-items:center;
    justify-content:center;
    align-self: center;
    justify-self:center;
    color:white;
    text-align: center;
}

.btn {
    display: flex;
    background: #35B5AC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    font-weight:800;
    text-align:center;
    text-justify:center;
    width:10vw;
    height:5vh;
    align-self: start;
    justify-self: center;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }