html, body {
    background-color: #250855;
    font-family: 'Poppins', sans-serif;
    height:90vh;
    width:90vw;
}
.landing-container {
    padding-top: 25%;
    padding-left: 0%;
    height:40vw;
    width:40vw;
    left:32%;
}
.landing-container input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}
.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.btn {
    display: inline-block;
    background: #35B5AC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }

  .logo {
    position: absolute;
    top: 20%;
    z-index: 3;
    width: 50%;
    padding-left: 25%;
  }
  